*{
    margin: 0;
    padding: 0;
}
.cabecera{
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 0%;
    background: linear-gradient(to bottom, rgb(187, 35, 35), rgb(0, 0, 0) 100%);
    opacity: 1;  
    height: 20vh;
    width: 100%;
}
.logo{
    height: 40vh;
    width: 20vw;
}


.snav{
    width: 99.%;
    color: white;
    background-color: rgb(187, 35, 35);
    border: 1vh solid rgb(20, 20, 20); 
    height: 7vh;
    display:flex;
    align-items: center;
    justify-content: left;
}

.izq{
    background: linear-gradient(to bottom, rgb(187, 60, 60), rgb(187, 35, 35) 100%);
  
}

.futbol{
    font-family: "Audiowide",sans-serif;
    display:flex;
    align-items: center;
    justify-content: center;
    font-weight: bold;
    font-size: 1.5vw;
    margin-top: 0%;
    width: 10vw;
    height: 6.9vh;
    border-radius: 15%;
    background-color: rgb(0, 0, 0);
    border: 1px rgb(255, 255, 255) solid;

}
.baloncesto{
    font-family: "Audiowide",sans-serif;
    display: flex;
    align-items: center;
    justify-content: center;
    font-weight: bold;
    font-size: 1.5vw;
    margin-top: 0%;
    margin-left: 18vw;
    width: 10vw;
    height: 6.9vh;
    border-radius: 15%;
    background-color: rgb(0, 0, 0);
    border: 1px rgb(255, 255, 255) solid;
}
.tenis{
    font-family: "Audiowide",sans-serif;
    display: flex;
    align-items: center;
    justify-content: center;
    font-weight: bold;
    font-size: 1.5vw;
    margin-top: 0%;
    margin-left: 21vw;
    width: 10vw;
    height: 6.9vh;
    border-radius: 15%;
    background-color: rgb(0, 0, 0);
    border: 1px rgb(255, 255, 255) solid;
}
.registro{
    font-family: "Audiowide",sans-serif;
    display: flex;
    align-items: center;
    justify-content: center;
    font-weight: bold;
    font-size: 1.5vw;
    margin-top: 0%;
    margin-left: 18vw;
    width: 10vw;
    height: 6.9vh;
    border-radius: 15%;
    background-color: rgb(0, 0, 0);
    border: 1px rgb(255, 255, 255) solid;
}
.grup{    
    display: flex;
}
.side{
    font-family: "Audiowide",sans-serif;
    height: 70vh;
    width: 25vw;
    background: linear-gradient(to bottom, rgb(35, 35, 35), rgb(0, 0, 0) 100%);
}
.side2{
    font-family: "Audiowide",sans-serif;
    height: 70vh;
    width: 25vw;
    background: linear-gradient(to bottom, rgb(0, 0, 0), rgb(35, 35, 35) 100%);
    }

.mundi {
    height: 8.5vh;
    width: 8vw;
    border: solid rgb(236, 255, 128); 
    display: block;
    margin-right: auto;
    margin-left: auto;
}

.h1{
    margin-left: 8.5vw;
    margin-right: auto;
    color: white;
    font-size: 1.5vw;
}

a:link {
    color: rgb(182, 170, 145);
  }
  a:visited {
    color: turquoise;
  }
  a:hover {
    color: greenyellow;
  }
  a:active {
    color: red;
  }